<!-- /static/components/identify-speaker/identify-speaker.html -->
<link rel="stylesheet" href="/static/components/identify-speaker/identify-speaker.css" />
<!-- <script type="module" src="/static/components/identify-speaker/identify-speaker.js"></script> -->

<template id="identify-speaker-template">
  <h3>Identify Speaker</h3>
  <button id="identify-speaker-btn">🔍 Identify Speaker</button>
  <canvas class="visualizer" id="visualizer-step-3"></canvas>
  <div id="identify-result-step-3">Awaiting action...</div>
</template>

<div id="identify-speaker-root"></div>